<div class="mb-3"></div>
<footer class="footer mt-auto footer-mt">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4 class="footer-title">ShainiPortal</h4>
                        <ul class="footer-content-links">
                            <li><a href="explore.html" class="footer-link">Explore</a></li>
                            <li><a href="about.html" class="footer-link">About</a></li>
                            <li><a href="help_center.html" class="footer-link">Help Center</a></li>
                            <li><a href="career-2.html" class="footer-link">Careers</a></li>
                            <li><a href="how_it_works.html" class="footer-link">How It Works</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4 class="footer-title">Community</h4>
                        <ul class="footer-content-links">
                            <li><a href="blogs.html" class="footer-link">Blog</a></li>
                            <li><a href="uki_token.html" class="footer-link">Uki Token</a></li>
                            <li><a href="suggest_features.html" class="footer-link">Suggest Features</a></li>
                            <li><a href="subscribe.html" class="footer-link">Subscribe</a></li>
                            <li><a href="voting.html" class="footer-link">Voting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4 class="footer-title">Join ShainiPortal Community</h4>
                        <div class="footer-social-links">
                            <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-discord"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-telegram"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-reddit"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-vk"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-tumblr-square"></i></a>
                            <a href="#" class="social-link"><i class="fa-brands fa-medium"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content">
                        <h4 class="footer-title">Download the ShainiPortal app</h4>
                        <div class="footer-download-links">
                            <a href="#" class="download-btn">
                                <img src="images/career/app-store.png" alt="">
                            </a>
                            <a href="#" class="download-btn">
                                <img src="images/career/google-play.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-content">
                        <h4 class="footer-title txt-center">Get the latest ShainiPortal updates</h4>
                        <div class="footer-updates">
                            <div class="subscribe-email-group">
                                <input class="input-control" type="email" placeholder="Your e-mail">
                                <button class="subscribe-btn btn-hover" type="submit">I'm in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="footer_left">
                        <li>											
                            <div class="footer_logo">
                                <a href="index.html"><img src="images/footer_logo.svg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <p>&copy <%= new Date().getFullYear(); %> all right saved All Rights Reserved.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="footer_bottom_links">
                        <li>
                            <a href="privacy_policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="terms.html">Terms</a>
                        </li>
                    </ul>
                </div>		
            </div>
        </div>
    </div>
</footer>

