
    <div class="main-wrapper">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="intro-banner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner-headlines">
                                    <h2>The 1st and the best NFT Marketplace</h2>
                                    <p>Buy, Sell, and Discover rare Digital Items.</p>
                                </div>
                                <div class="banner-btns">
                                    <a href="create.html" class="btn main-btn btn-hover h-40 p_2 me-2">Create</a>
                                    <a href="explore.html" class="btn light-btn btn-hover h-40 p_2">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>						
                </div>					
            </div>				
            <div class="row">
               
                <div class="col-xl-12 col-lg-12">
                    <div class="title-heading mt-5">
                        <div class="main-title">
                            <h4>Popular Books </h4>
                            <img src="images/fire.png" alt="burn-icon">
                            <a href="/course/books" class="view-link">View All<i class="uil uil-arrow-right ms-1"></i></a>
                        </div>							
                    </div>
                    <div class="live-auctions-list">
                        <div class="owl-carousel live-auctions-slider owl-theme">
                            <div class="item">
                                <div class="main-card">
                                    <a href="live_auction_item_view.html" class="nft-img">
                                        <img src="images/nft-imgs/img-3.jpg" alt="">
                                        <div class="live-time-limit">
                                            <span class="hr">TZS 30,000</span>
                                        </div>
                                    </a>
                                    <div class="item-detail-group">
                                        <div class="item-creators-options">
                                            <div class="item-creators-group">
                                                <a href="#" class="creator-list" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection : Ukiyox">
                                                    <div class="item-creator-img d-flex">
                                                        <img src="images/left-imgs/img-2.jpg" alt="">
                                                        <span class="m-2">Rithom1</span>
                                                    </div>
                                                </a>
                                                
                                            </div>
                                            <div class="more-option-list dropdown">
                                                <a href="#" class="option-more-btn" role="button">
                                                    <i class="uil uil-share-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-text-dt">
                                            <a href="live_auction_item_view.html" class="item-title">The book name shows here</a>
                                            <div class="item-text-bottom d-flex justify-content-between">
                                                <span class="btn"><i class="uil uil-eye"></i><ins>42</ins></span>
                                                <span class="like-btn"><i class="uil uil-heart"></i><ins>47</ins></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="title-heading mt-5">
                        <div class="main-title">
                            <h4>Poupular Video Course</h4>
                            <img src="images/fire.png" alt="burn-icon">
                            <a href="/video-courses" class="view-link">View All<i class="uil uil-arrow-right ms-1"></i></a>
                        </div>							
                    </div>
                    <div class="Hot-bids-list">
                        <div class="owl-carousel hot-bids-slider owl-theme">
                            <div class="item">
                                <div class="main-card">
                                    <a href="live_auction_item_view.html" class="nft-img">
                                        <img src="images/nft-imgs/img-3.jpg" alt="">
                                        <div class="live-time-limit">
                                            <span class="hr">TZS 30,000</span>
                                        </div>
                                    </a>
                                    <div class="item-detail-group">
                                        <div class="item-creators-options">
                                            <div class="item-creators-group">
                                                <a href="#" class="creator-list" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection : Ukiyox">
                                                    <div class="item-creator-img d-flex">
                                                        <img src="images/left-imgs/img-2.jpg" alt="">
                                                        <span class="m-2">Rithom1</span>
                                                    </div>
                                                </a>
                                                
                                            </div>
                                            <div class="more-option-list dropdown">
                                                <a href="#" class="option-more-btn" role="button">
                                                    <i class="uil uil-share-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-text-dt">
                                            <a href="live_auction_item_view.html" class="item-title">The book name shows here</a>
                                            <div class="item-text-bottom d-flex justify-content-between">
                                                <span class="btn"><i class="uil uil-eye"></i><ins>42</ins></span>
                                                <span class="like-btn"><i class="uil uil-heart"></i><ins>47</ins></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>													
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="title-heading mt-5">
                        <div class="main-title">
                            <h4>Popular Audio Course</h4>
                            <img src="images/explosion.png" alt="explosion-icon">
                            <a href="/audio-courses" class="view-link">View All<i class="uil uil-arrow-right ms-1"></i></a>
                        </div>							
                    </div>
                    <div class="Hot-bids-list">
                        <div class="owl-carousel hot-collection-slider owl-theme">
                            <div class="item">
                                <div class="main-card p-1">
                                    <a href="#" class="collection-bg coll-bg-1"></a>
                                    <div class="item-collection-meta">
                                        <a href="#" class="collection-avatar">
                                            <img src="images/left-imgs/img-3.jpg" alt="">
                                        </a>
                                        <a href=""><h4 class="item-title">This is what we call play good in life</h4></a>
                                        <span class="collection-series">TZS 2,000</span>
                                    </div>
                                    <div class="item-text-bottom mb-2">
                                        <span class="bid-value"><i class="uil uil-eye"></i><ins>42</ins></span>
                                        <span class="like-btn"><i class="uil uil-heart"></i><ins>42</ins></span>
                                    </div>

                                </div>
                            </div>	
                        </div>
                    </div>
                </div>					
            </div>
        </div>
    </div>
