
<div class="main-wrapper">
    <div class="container-fluid">						
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="title-heading d-none d-sm-block">
                    <div class="main-title-1 mb-5">
                        <h2>Jobs Categories</h2>
                    </div>							
                </div>
                <div class="explore-list-items d-none d-sm-block">
                    <div class="featured-controls">
                        <ul>
                            <li class="active mixitup-control-active" data-filter="*">All</li>
                            <li data-filter=".art">Art</li>
                            <li data-filter=".photography">Photography</li>
                            <li data-filter=".games">Games</li>
                            <li data-filter=".metaverses">Metaverses</li>
                            <li data-filter=".music">Music</li>
                            <li data-filter=".domains">Domains</li>
                            <li data-filter=".memes">Memes</li>
                            <li data-filter=".sports">Sports</li>
                            <li data-filter=".trading__cards">Trading Cards</li>
                            <li data-filter=".memes">Memes</li>
                            <li data-filter=".sports">Sports</li>
                            <li data-filter=".trading__cards">Trading Cards</li>
                            <li data-filter=".memes">Memes</li>
                            <li data-filter=".sports">Sports</li>
                            <li data-filter=".trading__cards">Trading Cards</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="explore-list-items">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="voting-wrapper-content mt-30">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="pills-proposals" role="tabpanel">
                                        <div class="title-heading">
                                            <div class="main-title-1 row">
                                                <h2>Jobs Opportunities</h2>
                                                <div class="mt-3 d-sm-none filter-sort explore-page col-12 w-100">
                                                    <div class="sorting-filter-select">
                                                        <select class="selectpicker">
                                                            <option value="all" selected>All Jobs Categories</option>
                                                            <option value="active"><a href="/jobs/any-thing">Photography</a></option>
                                                            <option value="pending">Pending</option>
                                                            <option value="closed">Closed</option>
                                                            <option value="core">Core</option>
                                                        </select>
                                                    </div>								
                                                </div>
                                            </div>							
                                        </div>
                                        <div class="all-proposal-list">
                                            <div class="d-block">
                                                <div class="main-card mt-30 p-4">
                                                    <div class="proposal-author-dt">
                                                        <div class="proposal-avatar">
                                                            <img src="images/u_logo.svg" alt="">
                                                        </div>
                                                        <span class="v-text me-2">Ukiyox</span>
                                                        <span class="v-text">By Trevis</span>
                                                    </div>
                                                    <ul class="voting-badges-actions">
                                                        <li><a href=""><span class="vot-badge">IMED Foundation</span></a></li>
                                                        <li><span class="action-badge bg-yellow"><a href="">Construction</a></span></li>
                                                    </ul>
                                                    <div class="voting-content">
                                                        <h4 class="vote-title"><a href="">proposal to contribute to the DAO (Community, Communications and Ops)</a></h4>
                                                        <p>Ut a ullamcorper dolor. Vestibulum pretium ac ligula id egestas. Curabitur lacinia elementum purus nec commodo. Donec tempus porta tristique. Morbi augue erat, congue eu porta sit amet, placerat ac neque. Nulla semper urna nulla, nec rutrum massa sagittis in. Aliquam erat volutpat. Nunc enim quam, aliquam ac lacus id, elementum molestie enim. Vivamus dignissim ante sed magna maximus feugiat.</p>
                                                        <span class="vot-time">ended 4 days ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button class="main-btn btn-hover h-40 mt-5">Load More</button>
                                            </div>													
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-new-proposal" role="tabpanel">
                                        <div class="new-proposal-block">
                                            <div class="row">													
                                                <div class="col-xl-7 col-lg-7 col-md-8">
                                                    <div class="main-card">
                                                        <div class="proposal-form-block">
                                                            <form class="proposal-form">
                                                                <div class="form-group">
                                                                    <label for="proposal_question" class="form-label">Question*</label>
                                                                    <input class="input-control" type="text" id="proposal_question" value="" placeholder="">
                                                                </div>
                                                                <div class="form-group mt-30">
                                                                    <label for="proposal_msg" class="form-label">What is your Proposal?*</label>
                                                                    <textarea class="textarea-control" id="proposal_msg" placeholder=""></textarea>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="choices-block">
                                                            <div class="choice-title">
                                                                <h4 class="item-title mb-0">Choices</h4>
                                                            </div>
                                                            <div class="choices-list">
                                                                <div class="choice-option">
                                                                    <span class="choice-num">1</span>
                                                                    <input class="choice-input flex-auto text-center" maxlength="32">														
                                                                    <span class="choice-close"><i class="uil uil-times"></i></span>																
                                                                </div>
                                                                <div class="choice-option">
                                                                    <span class="choice-num">2</span>
                                                                    <input class="choice-input flex-auto text-center" maxlength="32">														
                                                                    <span class="choice-close"><i class="uil uil-times"></i></span>																
                                                                </div>
                                                            </div>
                                                            <button class="main-btn btn-hover h-40 w-100 mt-4">Add Choice</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-5 col-lg-5 col-md-4">
                                                    <div class="main-card rmt-30">
                                                        <div class="action-title">
                                                            <h4 class="item-title mb-0">Actions</h4>
                                                        </div>
                                                        <div class="proposal-actions main-from">
                                                            <div class="selection-block">
                                                                <label for="weth_amount" class="form-label">Select voting system*</label>
                                                                <select class="selectpicker">
                                                                    <option value="1" selected>Single choice voting</option>
                                                                    <option value="2">Approval voting</option>
                                                                    <option value="3">Quadratic voting</option>
                                                                    <option value="4">Ranked choice voting</option>
                                                                    <option value="5">Weighted voting</option>																			
                                                                </select>
                                                            </div>
                                                            <div class="form-group mt-3">
                                                                <input class="input-control form_datetime" type="text" size="16" placeholder="Select start date">
                                                            </div>
                                                            <div class="form-group mt-3">
                                                                <input class="input-control form_datetime" type="text" size="16" placeholder="Select end date">
                                                            </div>
                                                            <div class="form-group mt-3">
                                                                <input class="input-control" type="text" id="block_number" value="123456789" placeholder="Enter Block Number">
                                                            </div>
                                                            <button class="main-btn btn-hover h-40 w-100 mt-4">Publish</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="main-card ">
                                                    <ul class="about-voting">
                                                        <li>
                                                            <div class="about-voting-dt-list">
                                                                <h6>Network</h6>
                                                                <span>Ethereum Mainnet</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="about-voting-dt-list">
                                                                <h6>Proposal validation</h6>
                                                                <span>Basic</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="about-voting-dt-list">
                                                                <h6>Proposal threshold</h6>
                                                                <span>100 UKI</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="about-voting-dt-list">
                                                                <h6>Strategie(s)</h6>
                                                                <span>erc20-balance-of</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="main-card mt-30">
                                                    <div class="action-title">
                                                        <h4 class="item-title mb-0">Admins</h4>
                                                    </div>
                                                    <ul class="proposal-admin-members">
                                                        <li>
                                                            <a href="#" class="proposal-admin-members-dt">
                                                                <div class="proposal-admin-members-img">
                                                                    <img src="images/nft-imgs/img-5.jpg" alt="">
                                                                </div>
                                                                <span>0xd2E3...78C6</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="proposal-admin-members-dt">
                                                                <div class="proposal-admin-members-img">
                                                                    <img src="images/left-imgs/img-6.jpg" alt="">
                                                                </div>
                                                                <span>Lizzy Wizzy</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="main-card mt-30">
                                                    <div class="action-title">
                                                        <h4 class="item-title mb-0">Members</h4>
                                                    </div>
                                                    <ul class="proposal-admin-members">
                                                        <li>
                                                            <a href="#" class="proposal-admin-members-dt">
                                                                <div class="proposal-admin-members-img">
                                                                    <img src="images/nft-imgs/img-5.jpg" alt="">
                                                                </div>
                                                                <span>0xd2E3...78C6</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="proposal-admin-members-dt">
                                                                <div class="proposal-admin-members-img">
                                                                    <img src="images/left-imgs/img-6.jpg" alt="">
                                                                </div>
                                                                <span>Lizzy Wizzy</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>											
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		
